<div class="row">
    <div class="col-sm-6 col-md-4">
<div class="card" id="card-img" style="width: 18rem;">
  <img src="https://cdn2.bigcommerce.com/n-pktq5q/fz91hv59/products/1645/images/1661/Watch_Dogs_2__10579.1470748917.1280.1280.jpg?c=2" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">Card title</h5>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    <div>
    <div class="price float-left" >$15</div>
    <a href="#" class="btn btn-success float-right">Go somewhere</a>
    </div>
  </div>
</div>
</div>
    <div class="col-sm-6 col-md-4">
<div class="card" id="card-img" style="width: 18rem;">
  <img src="https://cdn2.bigcommerce.com/n-pktq5q/fz91hv59/products/1645/images/1661/Watch_Dogs_2__10579.1470748917.1280.1280.jpg?c=2" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">Card title</h5>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    <div>
    <div class="price float-left" >$15</div>
    <a href="#" class="btn btn-success float-right">Go somewhere</a>
    </div>
  </div>
</div>
</div>
    <div class="col-sm-6 col-md-4">
<div class="card" id="card-img" style="width: 18rem;">
  <img src="https://cdn2.bigcommerce.com/n-pktq5q/fz91hv59/products/1645/images/1661/Watch_Dogs_2__10579.1470748917.1280.1280.jpg?c=2" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">Card title</h5>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    <div>
    <div class="price float-left" >$15</div>
    <a href="#" class="btn btn-success float-right">Go somewhere</a>
    </div>
  </div>
</div>
</div>
</div>

<div class="row">
    <div class="col-sm-6 col-md-4">
<div class="card" id="card-img" style="width: 18rem;">
  <img src="https://cdn2.bigcommerce.com/n-pktq5q/fz91hv59/products/1645/images/1661/Watch_Dogs_2__10579.1470748917.1280.1280.jpg?c=2" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">Card title</h5>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    <div>
    <div class="price float-left" >$15</div>
    <a href="#" class="btn btn-success float-right">Go somewhere</a>
    </div>
  </div>
</div>
</div>
    <div class="col-sm-6 col-md-4">
<div class="card" id="card-img" style="width: 18rem;">
  <img src="https://cdn2.bigcommerce.com/n-pktq5q/fz91hv59/products/1645/images/1661/Watch_Dogs_2__10579.1470748917.1280.1280.jpg?c=2" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">Card title</h5>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    <div>
    <div class="price float-left" >$15</div>
    <a href="#" class="btn btn-success float-right">Go somewhere</a>
    </div>
  </div>
</div>
</div>
    <div class="col-sm-6 col-md-4">
<div class="card" id="card-img" style="width: 18rem;">
  <img src="https://cdn2.bigcommerce.com/n-pktq5q/fz91hv59/products/1645/images/1661/Watch_Dogs_2__10579.1470748917.1280.1280.jpg?c=2" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">Card title</h5>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    <div>
    <div class="price float-left" >$15</div>
    <a href="#" class="btn btn-success float-right">Go somewhere</a>
    </div>
  </div>
</div>
</div>
</div>